<%- include('header.ejs') %> 

    <section class="container">
        <span id="message"></span>
        <img src="/image/image01.jpeg" class="slider active">
        <img src="/image/image02.jpg"  class="slider ">
        <img src="/image/image03.png"  class="slider ">
        <img src="/image/image04.png"  class="slider ">
        <img src="/image/image05.jpg"  class="slider ">
    </section>

    <!-- A+ -->

<script src="/js/slider.js"></script>
</body>