<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/user_compt.css">
</head>

<body>
    <section>
        <div class="left">
            <div class="items">
                Bienvenue<a href="/" class="accueil">Mamadou</a>
            </div>
            <div class="bleu">
                <div class="kudos">
                    <a href="/tableauDeBord">Accueil</a>
                </div>
              
                <div class="kudos"><a href="/compteUtilisateur"> Mes Coordonnees </a></div>
                <div class="kudos"></div>
                <div class="kudos"> <a href=".........">Mon Statut</a>          </div>
                <div class="kudos"> <a href=".........">Vos Encheres</a></div>
            </div>    

        </div>



        <div class="right">
            <div>COORDONNEES</div>
            <div class="blue"></div>
            <div class="blue"></div>
            <div>
                <form >
                    <div>
                        <label for="nom">Nom :</label>
                        <input type="text" id="nom" name="nom" required>
                  
                        <label for="prenom">Prénom :</label>
                        <input type="text" id="prenom" name="prenom" required>
                    </div>

                    <div>
                        <label for="email">E-mail :</label>
                        <input type="email" id="email" name="email" required>
                    
                    
                        <label for="numero-national">Numéro National :</label>
                        <input type="text" id="numero-national" name="numero-national" required>
                    </div>

                    <input type="submit" value="Envoyer">
                  </form>
                  
            </div>

            <div></div>

            <div>
                <p> Adresse</p>
                <form>
                    <div>
                        <label for="code-postal">Code postal :</label>
                        <input type="text" id="code-postal" name="code-postal"><br>
                  
                        <label for="pays">Pays :</label>
                        <input type="text" id="pays" name="pays"><br>
                    </div>
                    <div>
                        <label for="telephone">Téléphone :</label>
                        <input type="tel" id="telephone" name="telephone"><br>
                  
                        <label for="ville">Ville :</label>
                        <input type="text" id="ville" name="ville"><br>
                    </div>
                    <label for="boite-postale">Boîte postale :</label>
                    <input type="text" id="boite-postale" name="boite-postale"><br>
                  
                    <input type="submit" value="Envoyer">
                  </form>
                  
            </div>
            <a href="/automatique">
                <div class="auto">Lancer l'enchere automatique</div>
            </a>
            <div></div>
        </div>
    </section>

</body>

</html>