<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/user_compt2.css">
</head>

<body>
    <section class="sec1">
        <h2>Bienvenue MAMADOU</h2>
        <div class="couleur"></div>
        <div class="position">
            <div class="coleur_bue"></div>
            <a href="/tableauDeBord">
                <div class="ligne">Accueil</div>
            </a>
            <a href="compteUtilisateur">
                <div class="ligne">Mes Coordonnees</div>
            </a>
            <div class="ligne">Mon statut</div>
            <div class="ligne1"></div>
            <div class="dispo1">Vos Encheres</div>
        </div>
    </section>


    <section class="sec2">
        <h1>ENCHERES</h1>
        <div class="display">
            <div class="preso">Mes encheres</div>
            <div class="kudos">Favoris</div>
            <div class="kudos">Encheres Remportes</div>
            <div class="kudos">Facture</div>
        </div>
        <div class="case">
            <div class="taille">1</div>
            <div class="taille">2</div>
            <div class="taille">3</div>
            <div class="taille">4</div>
        </div>    
    </section>
    
</body>

</html>