<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Acceptation des conditions : En accédant et en utilisant ce site, vous acceptez pleinement et sans réserve les présentes conditions d'utilisation. Si vous n'êtes pas d'accord avec ces conditions, veuillez ne pas utiliser ce site.

Utilisation du site : Vous pouvez utiliser ce site dans le but de consulter et d'interagir avec notre contenu, de passer des commandes et d'accéder à certaines fonctionnalités offertes. Vous vous engagez à utiliser ce site conformément aux lois en vigueur et à ne pas violer les droits d'autrui.

Compte utilisateur : Pour accéder à certaines fonctionnalités du site, vous devrez créer un compte utilisateur. Vous êtes responsable de maintenir la confidentialité de vos informations de compte et de toutes les activités effectuées sous votre compte.

Propriété intellectuelle : Tous les contenus présents sur ce site, y compris mais sans s'y limiter, les textes, images, logos, marques de commerce et graphiques, sont la propriété exclusive de notre entreprise. Vous ne pouvez pas copier, reproduire, distribuer ou utiliser ces contenus sans notre autorisation écrite préalable.

Responsabilité : Nous nous efforçons de fournir des informations précises et à jour sur ce site, mais nous ne garantissons pas l'exactitude, l'exhaustivité ou la pertinence de ces informations. Vous utilisez ce site à vos propres risques, et nous déclinons toute responsabilité pour les dommages directs ou indirects découlant de son utilisation.

Liens vers des sites tiers : Ce site peut contenir des liens vers des sites web tiers. Nous n'endossons ni ne contrôlons ces sites, et nous déclinons toute responsabilité quant à leur contenu ou à leurs pratiques en matière de confidentialité. Votre utilisation de ces sites tiers est soumise à leurs propres conditions d'utilisation.

Modification des conditions : Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment, sans préavis. Il vous incombe de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications.

</body>
</html>