<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/hearder.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <!-- <link rel="stylesheet" href="/css/accueil.css"> -->
    <link rel="stylesheet" href="/css/enchere.css">
    <!-- <link rel="stylesheet" href="/css/vendre.css"> -->
    <title>E-novateur</title>
</head>
<body>

  <header>
    <nav>
        <div class="logo">
            <img src="/image/logo.png" alt="logo">
        </div>
        <div class="barre-Recherche">

        </div>
        <div class="options">
            <div class="items">
                <a href="/" class="accueil">Mamadou</a>
            </div>
            <div class="logo-Ordinateur">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
    </nav>
  </header>

  <div class="enchere">
    <h1>Espace Client</h1>
    <div id="container">
        <div id="bienvenue">
            <h2>Bienvenue <span>MAMADOU</span></h2>
            <div class="connect">
                <p>connecté -</p>
                <a href="#">
                    <div><img src="/image/en-dehors.png" alt="en dehors" height="15px" width="10px">Déconnexion</div>
                </a>
            </div>
            <div id="blueband"></div>
            <div class="Moi">
                <div>
                    <img alt="Accueil" src="/image/page-daccueil.png" height="15px" width="15px">
                    <a href="#"><p>Accueil</p></a>
                </div>
                <div>
                    <img alt="localisation" src="/image/pointeur-de-localisation.png" height="15px" width="15px">
                    <a href="#"><p>Localisation</p></a>
                </div>
                <div>
                    <img alt="statut" src="/image/statut-de-livraison.png" height="15px" width="15px">
                    <a href="#"><p>Statut</p></a>
                </div>
            </div>
            <div id="VosEncheres">
                <p>Vos Enchères</p>
            </div>
        </div>
        <div id="listeEnchere">
            <div id="container1">
                <div id="container11"></div>
                <div id="container12">
                    <h2>ENCHERES</h2>
                    <div id="container121">
                        <div>
                            <a><p>Mes Encheres</p></a>
                        </div>
                        <div>
                            <a><p>Favoris</p></a>
                        </div>
                        <div>
                            <a><p>Encheres remportees</p></a>
                        </div>
                        <div>
                            <a><p>Facture</p></a>
                        </div>
                    </div>
                </div>
                <div id="container13"></div>
            </div>
            <div id="container2">
                <div id="container21">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
        </div>
    </div>
  </div>
