.container{
    /* border: 2px solid; */
    height: 85vh;
    margin: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container img{
    object-fit: cover;
    position: absolute;
    /* filter: blur(3px); */
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
span{
    color: #fff;
    z-index: 1000;
    font-weight: bold;
    text-shadow: #333 2px 2px   5px;
    /* border: 2px solid;    */
    position: absolute;
    font-size: 3em;
    width: 1000px;

}
.container img.active{
    opacity: 1;
}



